@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.95), rgba(20, 20, 20, 1));
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  